.signUpBox {
    border: var(--thickBorder) solid var(--orange);
    padding: 1rem;
    background: var(--white);
}

.newsFeed {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
}

.signUpForm {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
