.parent {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    pointer-events: none;
    color: transparent;
}

.originalOverlay {
    pointer-events: none;
    color: transparent;
    visibility: visible;
}

.originalHighlight {
    position: relative;
}

.originalHighlight::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 4px;
    background-color: var(--orange);
}

.highlightedPhrase {
    --color: var(--dominantLanguageColor);
    --backgroundMargin: 0.2rem;
    all: unset;
    pointer-events: all;
    cursor: pointer;
    background: var(--color);
    box-shadow: var(--backgroundMargin) 0 0 var(--color), calc(var(--backgroundMargin) * -1) 0 0 var(--color);
    color: black;
}
