.columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
}

@media (max-width: 1400px) {
    .columns {
        grid-gap: 3rem;
    }
}

@media (max-width: 1300px) {
    .columns {
        grid-gap: 2rem;
    }
}

@media (max-width: 1000px) {
    .columns {
        grid-template-columns: 1fr;
    }

    .reverseOnMobile > :nth-child(2) {
        grid-row: 1;
    }
}

.columns > * {
    min-width: 0;
}

.columnHeading {
    margin-top: 0;
    margin-bottom: 2rem;
}
