.container {
    position: relative;
    width: 10rem;
    height: 3rem;
    border-bottom: var(--thickBorder) solid var(--lang-color);
}

.ratings {
    width: 100%;
    height: calc(100% - var(--thickBorder));
    display: flex;
    align-items: flex-end;
}

.rating {
    position: relative;
    background: var(--lang-color);
    flex: 1;
}

.ratingInner {
    visibility: hidden;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: var(--fontSizeS);
    bottom: 100%;
    padding: 0.2rem;
    cursor: default;
}

.ratingInner.inside {
    bottom: auto;
    top: 0;
}

.container:hover .ratingInner {
    visibility: visible;
}

.rating + .rating {
    margin-left: var(--thickBorder);
}

.userRating {
    --size: 1rem;
    position: absolute;
    bottom: calc((var(--size) + var(--thickBorder)) * -0.5);
    margin-left: calc(var(--size) * -0.5);
    width: var(--size);
    height: var(--size);
    background: var(--orange);
    border-radius: 50%;
}
