:where(.globalStyle) {
    font-family: var(--monospaceFont);
    color: var(--black);
}

:where(.globalStyle) h1 {
    font-size: var(--fontSizeXXL);
}

:where(.globalStyle) h2 {
    font-size: var(--fontSizeL);
}

:where(.globalStyle) h3 {
    font-size: var(--fontSizeM);
}

:where(.globalStyle) :is(h1, h2, h3) {
    font-weight: bold;
}

:where(.globalStyle) a {
    color: inherit;
}

:where(.globalStyle) p {
    line-height: var(--lineHeightParagraph);
}

:where(.globalStyle)[lang='de'] p,
:where(.globalStyle) p[lang='de'] {
    hyphens: auto;
}

:where(.globalStyle) :where(*, *:before, *:after) {
    box-sizing: border-box;
}
