.radio {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.container {
    display: inline-flex;
    border: var(--thickBorder) solid var(--pink);
}

.container:focus-within {
    border: var(--thickBorder) solid var(--orange);
}

.label {
    display: block;
    padding: 0.2rem 0.5rem;
    font-family: var(--monospace-font);
    cursor: pointer;
}

.labelStriped {
    composes: label;
}

.labelDe {
    composes: label;
}

.labelEn {
    composes: label;
}

.radioWrapper + .radioWrapper .label {
    border-left: var(--thickBorder) solid var(--pink);
}

.radio:checked + .label {
    font-weight: bold;
    background: var(--green);
}

.radio:checked + .labelDe {
    background: var(--color-de);
}

.radio:checked + .labelEn {
    background: var(--color-en);
}

.radio:checked + .labelStriped {
    --sw: 6px;
    background-image: repeating-linear-gradient(
        -45deg,
        var(--color-de),
        var(--color-de) var(--sw),
        var(--color-en) var(--sw),
        var(--color-en) calc(var(--sw) * 2)
    );
}
