.text,
.intro {
    font-family: var(--paragraphFont);
}

@media (min-width: 1300px) {
    .intro {
        margin-bottom: 2rem;
    }
}

.button {
    margin-top: 1rem;
}

.headingMacht {
    color: var(--green);
}

.headingSprache {
    color: var(--pink);
}
