.container {
    --thumbSize: 1rem;
    --thumbShadowWidth: 0;

    position: relative;
    width: 12rem;
    height: 3rem;
    font-weight: normal;
    margin-bottom: 2rem;
}

.container:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--thickBorder);
    background: var(--lang-color);
    box-shadow: 0 0 0 var(--thickBorder) var(--white);
}

.container.small {
    --thumbSize: 0.7rem;
    margin: 0;
    width: 5rem;
    height: 1.9rem;
}

.container:focus-within {
    --thumbShadowWidth: 0.1rem;
}

.container:focus-within:after {
    background: var(--orange);
}

.ratings {
    width: 100%;
    height: calc(100% - var(--thickBorder) * 2);
    display: flex;
    align-items: flex-end;
    padding-top: var(--thickBorder);
}

.rating {
    position: relative;
    background: var(--lang-color);
    flex: 1;
    box-shadow: 0 0 0 var(--thickBorder) var(--white);
}

.ratingInner {
    visibility: hidden;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: var(--fontSizeS);
    bottom: 100%;
    padding: 0.2rem;
    cursor: default;
}

.ratingInner.inside {
    bottom: auto;
    top: 0;
}

.container:hover .ratingInner {
    visibility: visible;
}

.rating + .rating {
    margin-left: var(--thickBorder);
}

.rangeInput {
    --columnCount: 5;
    --thumbOpacity: 1;
    z-index: 2;
    position: absolute;
    bottom: calc(var(--thumbSize) * -0.5 - var(--thickBorder) / 2);
    left: 0.1rem;
    right: 0.1rem;
    width: calc(100% - 0.3rem);
    background: transparent;
    -webkit-appearance: none;
}

.rangeInput:focus {
    outline: none;
}

.rangeInput.unset {
    --thumbOpacity: 0.5;
}

.small .rangeInput.unset {
    --thumbOpacity: 0;
}

.rangeInput:not(:disabled)::-webkit-slider-thumb {
    cursor: pointer;
}

.rangeInput:not(:disabled)::-moz-range-thumb {
    cursor: pointer;
}

.rangeInput::-webkit-slider-thumb {
    width: var(--thumbSize);
    height: var(--thumbSize);
    border-radius: 50%;
    background: var(--orange);
    -webkit-appearance: none;
    opacity: var(--thumbOpacity);
    box-shadow: 0 0 0 var(--thumbShadowWidth) var(--orange);
}

.rangeInput::-moz-range-thumb {
    width: var(--thumbSize);
    height: var(--thumbSize);
    border-radius: 50%;
    background: var(--orange);
    border: none;
    margin-top: calc(var(--thickBorder) * -0.5);
    opacity: var(--thumbOpacity);
    box-shadow: 0 0 0 var(--thumbShadowWidth) var(--orange);
}

.hiddenLabel {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.userUsageDisplay {
    font-size: var(--fontSizeS);
    margin-top: 0.6rem;
    text-align: center;
    visibility: hidden;
}

.container:hover .userUsageDisplay {
    visibility: visible;
}
