.container {
    padding: 0.5rem;
    background: var(--lang-color);
    border: var(--thickBorder) solid var(--white);
    font-style: italic;
    font-family: var(--paragraphFont);
    font-weight: 200;
}

.container strong {
    font-weight: 500;
}
