.box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
}

.box + .box {
    margin-top: 8rem;
}

.box:nth-of-type(odd) .image {
    grid-row: 1;
}

.box:nth-of-type(odd) .buttons {
    justify-content: flex-start;
}

.boxTitle {
    margin: 0 0 1rem;
    font-size: var(--fontSizeL);
}

.boxText {
    font-family: var(--paragraphFont);
}

.image {
    width: 100%;
    padding: 1rem;
    background-image: url(./backgroundImage.svg);
    background-size: 100% 100%;
}

.buttons {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
}
