.container {
    --padding: 1rem;
    border: var(--thickBorder) solid var(--orange);
    background: var(--white);
}

.heading {
    margin: 0;
    padding: var(--padding);
    background: var(--orange);
}

.body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.image {
    width: 100%;
    height: auto;
}

.bodyParagraph {
    font-family: var(--paragraphFont);
    margin: 0 0 1rem;
}

.bodyText {
    padding: var(--padding);
}
