.container {
    display: flex;
    justify-content: center;
    margin-bottom: 8rem;
}

.inner {
    border: var(--orange) var(--thickBorder) solid;
    background: var(--white);
}

.heading {
    margin: 0;
    font-size: inherit;
    font-weight: normal;
    font-style: italic;
    padding: 1rem;
    background: var(--orange);
}

.logos {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    padding: 1rem 2rem;
    margin: 0;
    height: 8rem;
}

.logoWrapper {
    display: flex;
    max-width: 8rem;
}

.logo {
    width: 100%;
}
