.list {
    list-style: none;
    padding: 0;
}

.item {
    --mainColor: var(--dominantLanguageColor);

    background: var(--white);
    border: var(--thickBorder) solid var(--mainColor);
    display: block;
    cursor: pointer;
}

.item:hover {
    --mainColor: var(--orange);
}

.item + .item {
    margin-top: 1rem;
}

.link {
    text-decoration: none;
    flex: 0 1 auto;
    min-width: 0;
}

.link:hover {
    text-decoration: underline;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating {
    margin: 0 0.5rem;
}

.body {
    padding: 0.5rem;
}

.value {
    padding: 0.5rem;
    background-color: var(--mainColor);
    margin: 0;
    font-size: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--fontColorOnColor);
}

.noExample {
    margin: 0 0 0.5rem;
    font-size: var(--fontSizeS);
    display: flex;
    align-items: center;
    color: var(--disabledGrey);
    font-style: italic;
}

.noExampleButton {
    margin-right: 0.5rem;
}

.noExampleText {
    visibility: hidden;
}

.item:hover .noExampleText {
    visibility: visible;
}

.addExampleButton {
    height: 5rem;
    width: 3rem;
    background: var(--disabledGreyBackground);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--disabledGrey);
    flex: 0 0 auto;
    font-size: var(--fontSizeM);
    font-style: normal;
}

.addExampleButton:hover {
    color: var(--black);
    border: var(--black) solid var(--thinBorder);
}

.meta {
    padding: 0.5rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    font-size: var(--fontSizeS);
    font-style: italic;
}

.addTranslationButtonContainer {
    margin-top: 2rem;
}

.translationExampleList {
    margin: -0.25rem;
    padding: 0 0 0.5rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.translationExampleListItem {
    margin: 0.25rem;
}

.exampleIcon {
    --height: 5rem;
}
