.analysisContainer {
    padding: 1rem;
    border: var(--thinBorder) solid var(--black);
    background: var(--white);
    font-family: var(--paragraphFont);
    margin-bottom: 1rem;
}

.analysisContainer p > * {
    transition: 0.3s filter, 0.1s box-shadow;
}

.analysisContainerWithTooltip p > *:not(.sensibleWordHovered) {
    filter: blur(3px);
}

.analysisContainer p {
    margin: 0;
}

.sensibleWord {
    background: var(--lang-color);
    padding: 0.2em;
    font-style: italic;
    cursor: pointer;
    border: none;
    display: inline;
    font-size: inherit;
    font-family: inherit;
}

.sensibleWordHovered,
.sensibleWord:hover {
    box-shadow: 0 0 0 2px var(--lang-color);
}

.tooltip {
    max-width: 300px;
    font-size: var(--fontSizeS);
}

.tooltipDefinition {
    margin: 0 0 0.5rem;
    font-style: italic;
}

.overlayTranslationTerm {
    font-weight: bold;
}

.overlayTitle {
    font-size: var(--fontSizeL);
}

.overlayTranslationList {
    padding: 0;
    margin: 0 0 2rem;
}

.overlayTranslation {
    padding: 0;
    margin-bottom: 0;
}

.overlayTranslation + .overlayTranslation {
    margin-top: 1rem;
}
