.link {
    text-decoration: none;
}

.heading {
    font-size: inherit;
    line-height: var(--lineHeightParagraph);
    margin: 0 0 0.5rem;
}

.image {
    width: 13rem;
    height: auto;
    margin-right: 1rem;
}

.body {
    display: flex;
    align-items: flex-start;
}

.excerpt p {
    margin: 0;
    font-family: var(--paragraphFont);
}

.article {
    background: var(--white);
    padding: 1rem;
    box-shadow: 0 0 0 var(--thickBorder) var(--orange);
}

.article:hover {
    background: var(--orange);
}

.article + .article {
    margin-top: 1rem;
}

.date {
    margin: 0 0 0.5rem;
    font-style: italic;
}

.clickForMore {
    margin-top: 0.5rem;
    font-style: italic;
    font-family: var(--paragraphFont);
}

@media (max-width: 450px) {
    .body {
        display: block;
    }

    .article {
        padding: 0.5rem;
    }

    .image {
        width: 100%;
        max-height: 100vw;
        object-fit: contain;
        margin-bottom: 0.5rem;
    }
}
