.container {
    --boxColor: var(--green);
    --boxColorContrast: var(--orange);
    --indicatorSize: 1.5rem;
    border: solid var(--thickBorder) var(--boxColor);
    margin: 2rem 0;
}

.toggleButton {
    position: relative;
    background: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    text-align: left;
    padding: 1rem 1rem 1rem 3rem;
    width: 100%;
}

.toggleButton:before {
    content: '';
    position: absolute;
    height: var(--indicatorSize);
    width: var(--indicatorSize);
    left: 0.5rem;
    top: 50%;
    transform: translateY(calc(var(--indicatorSize) / -2)) rotate(-45deg);
    transform-origin: center;
    transition: 0.3s transform ease;
    display: block;
    background: linear-gradient(
            90deg,
            transparent 0%,
            transparent 50%,
            var(--boxColorContrast) 50%,
            var(--boxColorContrast) 100%
        ),
        linear-gradient(
            180deg,
            transparent 0%,
            transparent 50%,
            var(--boxColorContrast) 50%,
            var(--boxColorContrast) 100%
        );
}

.toggleButton[aria-expanded='true']:before {
    transform: translateY(calc(var(--indicatorSize) / -1.5)) rotate(45deg);
    left: 0.75rem;
}

.toggleButton[aria-expanded='false']:hover:before {
    left: 0.75rem;
}

.heading {
    background: var(--boxColor);
    margin: 0;
}

.content {
    padding: 1rem;
    background: white;
}

.content *:first-child {
    margin-top: 0;
}

.content *:last-child {
    margin-bottom: 0;
}
