.button {
    font-size: inherit;
    font-family: var(--monospace-font);
    border: var(--thinBorder) var(--black) solid;
    background: transparent;
    padding: .5rem;
}

.button:not([disabled]):hover, .button:focus {
    color: var(--white);
    cursor: pointer;
    background: var(--black);
}

.button:focus {
    outline: none;
}

.buttonPrimary {
    composes: button;
    border-color: var(--orange);
    border-width: var(--thickBorder);
}

.buttonPrimary:not([disabled]):hover, .buttonPrimary:focus {
    background-color: var(--orange);
    font-weight: bold;
}

.button[disabled] {
    color: var(--disabledGrey);
    border-color: var(--disabledGrey);
}

.buttonContainer {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
}

.buttonContainer button {
    margin-left: .5rem; /* waiting for gap in flexbox in Safari to happen 😬 */
}
