.button {
    display: block;
    font-size: inherit;
    font-family: var(--monospaceFont);
    color: var(--black);
    border: var(--thinBorder) var(--black) solid;
    background: transparent;
    padding: 0.5rem;
    background: var(--backgroundColor);
    text-decoration: none;
}

.button:focus {
    outline: none;
}

.button:hover:not(:disabled),
.button:focus {
    color: var(--white);
    cursor: pointer;
    background: var(--black);
}

.buttonPrimary {
    composes: button;
    border-color: var(--orange);
    border-width: var(--thickBorder);
}

.buttonPrimary:hover:not(:disabled),
.buttonPrimary:focus {
    background-color: var(--orange);
    font-weight: bold;
}

.button:disabled {
    color: var(--disabledGrey);
    border-color: var(--disabledGrey);
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 1.75rem -0.25rem -0.25rem;
}

.buttonContainerLeftAligned {
    composes: buttonContainer;
    justify-content: flex-start;
}

.buttonContainer .button {
    margin: 0.25rem; /* waiting for gap in flexbox in Safari to happen 😬 */
}
