.container {
    composes: global(inputContainer);
    display: grid;
    gap: var(--thickBorder);
    background: var(--black);
    grid-template-columns: repeat(4, 1fr);
    padding: var(--thickBorder);
}
