.addExampleButton {
    display: flex;
    margin-top: 2rem;
}

.link {
    text-decoration: none;
}

.link + .link {
    margin-top: 2rem;
    display: block;
}

.header {
    margin: 0 0 0.5rem;
    display: flex;
    align-items: flex-end;
}

.headingOriginal {
    font-size: inherit;
    margin: 0;
    color: var(--lang-color);
    background: var(--white);
    box-shadow: 0 0 0 0.2rem var(--white);
}

.headingTranslated {
    composes: headingOriginal;
    margin-left: 0.5rem;
}

.headingImg {
    height: 5rem;
    min-width: 3rem;
    object-fit: cover;
    margin-right: 0.5rem;
    margin-left: calc(var(--thickBorder) * -1);
    border: var(--thickBorder) solid var(--white);
    background: var(--white);
}

.headingImgContainer {
    flex: 0 0;
}

.exampleTextOriginal {
    margin: 0 1rem 0 calc(var(--thickBorder) * -1);
}

.exampleTextTranslated {
    margin: calc(var(--thickBorder) * -1) calc(var(--thickBorder) * -1) 0 1rem;
}

.footer {
    margin-top: 0.5rem;
    text-align: right;
}
