body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;

    --monospace-font: 'Courier New', Courier, monospace;

    --pink: #ceb9d1;
    --blue: #1e5166;
    --green: #a0cfaf;
    --orange: #eda37b;

    --white: #fff;
    --black: #000;

    --disabledGrey: rgb(184, 184, 184);

    --thickBorder: 2px;
    --thinBorder: 1px;

    --fontSizeL: 1.5rem;

    --sidebarWidth: 15rem;

    --color-de: var(--pink);
    --color-en: var(--green);
}

html, body, #root {
    height: 100%;
}

h1, h2, h3, h4 {
    font-family: var(--monospace-font);
}

a {
    color: inherit;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.firebase-emulator-warning {
    display: none;
}
