body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;

    --monospace-font: 'Courier New', Courier, monospace;

    --pink: #ceb9d2;
    --blue: #1e5166;
    --green: #9cdcb2;
    --orange: #eda37b;

    --white: #fff;
    --black: #000;

    --disabledGrey: rgb(184, 184, 184);

    --thickBorder: 2px;
    --thinBorder: 1px;

    --fontSizeL: 1.5rem;

    --sidebarWidth: 15rem;

    --color-lang-a: var(--green);
    --color-lang-b: var(--pink);

    --background-deko-size: 50vw;
    --background-deko-stripe-width: calc(var(--background-deko-size) / 9);
}

body:before,
body:after {
    position: absolute;
    content: '';
    height: var(--background-deko-size);
    width: var(--background-deko-size);
    z-index: -1;
}

body:before {
    top: 5rem;
    transform: rotate(45deg);
    transform-origin: top left;
    background-image: repeating-linear-gradient(
        to left,
        var(--color-lang-b),
        var(--color-lang-b) var(--background-deko-stripe-width),
        transparent var(--background-deko-stripe-width),
        transparent calc(var(--background-deko-stripe-width) * 2)
    );
}

body:after {
    bottom: -20vw;
    right: 0;
    transform: translateX(40%) rotate(-45deg);
    transform-origin: center;
    background-image: repeating-linear-gradient(
        to left,
        var(--color-lang-a),
        var(--color-lang-a) var(--background-deko-stripe-width),
        transparent var(--background-deko-stripe-width),
        transparent calc(var(--background-deko-stripe-width) * 2)
    );
}

html,
body,
#root {
    height: 100%;
}

h1,
h2,
h3,
h4 {
    font-family: var(--monospace-font);
}

a {
    color: inherit;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.firebase-emulator-warning {
    display: none;
}
