.logo {
    font-family: var(--monospace-font);
    font-weight: bold;
    padding: 0 0 1rem;
    display: block;
    text-decoration: none;
    width: calc(var(--sidebarWidth) - 2rem);
}

.header {
    position: fixed;
    background: white;
    padding-top: 1rem;
    top: 0;
}

.terms {
    margin-top: 3rem;
    font-family: var(--monospace-font);
    list-style: none;
    padding: 0;
}

.termLink {
    display: inline-block;
    text-decoration: none;
    padding: .2rem 0;
}

.termLinkActive {
    font-weight: bold;
}

.termLinkActive, .termLink:hover {
    box-shadow: inset 0 calc(var(--thickBorder) * -1) 0 var(--white), inset 0 calc(var(--thickBorder) * -2) 0 var(--black);
}
