.logo {
    font-family: var(--monospace-font);
    font-weight: bold;
    padding: 0 0 1rem;
    display: block;
    text-decoration: none;
    width: calc(var(--sidebarWidth) - 2rem);
    margin-left: -1.5rem;
}

.header {
    position: fixed;
    background: white;
    padding-top: 1rem;
    top: 0;
}

.nav {
    margin-top: 15rem;
}

.terms {
    font-family: var(--monospace-font);
    list-style: none;
    padding: 0;
}

.termLink {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: .2rem 0;
    background-color: var(--background-color);
    padding: .5rem;
    font-style: italic;
    border: var(--thickBorder) solid var(--white);
    margin-bottom: calc(var(--thickBorder) * -1)
}

.termLink[lang="de"] {
    --background-color: var(--color-de);
}

.termLink[lang="en"] {
    --background-color: var(--color-en);
}

.termLinkActive {
    font-weight: bold;
}

.termLinkActive:before, .termLink:hover:before {
    content: '';
    position: absolute;
    bottom: .4rem;
    left: .3rem;
    right: .3rem;
    background: var(--black);
    height: var(--thickBorder);
    /* box-shadow: inset 0 calc(var(--thickBorder) * -1) 0 var(--background-color), inset 0 calc(var(--thickBorder) * -2) 0 var(--black); */
}
