.userList {
    margin: 0;
    padding: 0;
}

.userItem {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 0.5rem 0;
}

.userItem + .userItem {
    border-top: 1px solid var(--black);
}

.userName {
    font-weight: bold;
}

.userInfo {
    flex-grow: 1;
    line-height: var(--lineHeightParagraph);
}

.tag {
    font-weight: bold;
    background: var(--black);
    box-shadow: 0 0 0 0.2rem var(--black);
    color: var(--white);
}
