.container {
    --sidebarWidth: 15rem;
    --templateColumns: 1fr var(--sidebarWidth) minmax(auto, 50rem) 1fr;

    display: grid;
    height: 100%;
    grid-template-columns: var(--templateColumns);
}

.sidebar {
    position: fixed;
    display: grid;
    width: 100%;
    grid-template-columns: var(--templateColumns);
    pointer-events: none;
}

.sidebarInner {
    display: grid;
    grid-template-columns: 1fr var(--sidebarWidth);
    height: 100vh;
    overflow: scroll;
    grid-column: 1 / 3;
    pointer-events: all;
}

.sidebarInnerInner {
    grid-column: 2;
}

.main {
    grid-column: 3;
    border-left: solid var(--black) var(--thickBorder);
}

.main, .sidebarInnerInner {
    padding: 1rem;
}

.logo {
    font-family: var(--monospace-font);
}