.container {
    --sidebarWidth: 15rem;

    display: grid;
    height: 100%;
    grid-template-columns: 1fr var(--sidebarWidth) minmax(auto, 50rem) 1fr;
}

.sidebar {
    grid-column: 1 / 3;
}

.sidebarInner {
    display: grid;
    height: 100vh;
    overflow: scroll;
    position: sticky;
    top: 0;
    grid-template-columns: 1fr var(--sidebarWidth);
}

.sidebarInnerInner {
    grid-column: 2;
}

.main {
    grid-column: 3;
    border-left: solid var(--black) var(--thickBorder);
}

.main, .sidebarInnerInner {
    padding: 1rem;
}

.topRightMenu {
    position: fixed;
    top: 1rem;
    right: 1rem;
    font-family: var(--monospace-font);
}
